<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="CaminhoArquivos" value="D:\workspace Alex\Curso_csharp\CSharp_Funcional\Curso_csharp\arq"/>
    <add key="BaseDeClientes" value="D:\workspace Alex\Curso_csharp\CSharp_Funcional\Curso_csharp\db\clientes.txt"/>
    <add key="BaseDeUsuarios" value="D:\workspace Alex\Curso_csharp\CSharp_Funcional\Curso_csharp\usuarios.txt"/>
  </appSettings>
</configuration>